%section.content-header
  %h1
    Sobre  
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Sobre
     

/ Main content
%section.content   
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title="#{@about.title}"
        
        .box-body  
          %p
            = raw @about.description   
        

  = link_to t("back_list"), admin_abouts_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_about_path(@about), :class => "btn btn-default" 